<div class="footer py-3 mt-3"style=" background-color: #155724;">
    <div class="container">
        <span class="text-muted">
            <a href="#">Tüm Hakları saklıdır</a>

        </span>
    </div>
</div>